@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-nav {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-add-channel {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.5);
}
